body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.HeaderContainer{
  background: lightgrey;
  height: auto;
  min-height: 10vh;
  text-align: center;
  padding-top: .5vh;
}

.HeaderContainer h1 {
  padding-top: 10px;
  font-size: 3.8em;
  text-shadow: 1px 1px 1px black, 0 0 5px #802bb1;
}


.ReviewContainer{
  /* background-color: aqua; */

  padding-top: 2%;
  margin-left: 5vw;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  min-width: 250px;
}
.ReviewContainer h1 u i{
  text-shadow: 1px 1px 1px black, 0 0 5px #802bb1;
  color: #fff
}


.CardHolder{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.ReviewCard {
  border-radius: 25px;
  border: 1px solid #999;
  background: lightblue;
  /* border: 1px solid #999; */
  align-items: center;
  /* width: 25vh; */
  width: 35vh;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  margin: 2.9%;
  box-shadow:   8px 10px 25px grey, 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

.SignHolder{
  border: 1px solid #999;
  background: #802bb1;
  height: auto;
  /* max-width: 20%; */
  min-width: 180px;
  margin-top: 5%;
  /* margin-right: 2%; */
  margin-left: 5vw;
  /* float: left; */
  padding-bottom: 10px;
  padding-top: 10px;
  text-shadow: 1px 1px 1px black, 0 0 5px #802bb1;
  color: #fff
}
.FilterFormHolder{
  border: 1px solid #999;
  background: #802bb1;
  height: auto;
  min-width: 180px;
  margin-top: 5vh;
  margin-right: 2%;
  margin-left: 5vw;
  /* float: left; */
  padding-bottom: 10px;
  padding-top: 10px;
  text-shadow: 1px 1px 1px black, 0 0 5px #802bb1;
  color: #fff
}

.SigningHolder{
  border: 1px solid #999;
  min-height: auto;
  height: 25vh;
  min-width: auto;
}


.WriteRev{
  border: 1px solid #999;
  background-color: lightgrey;
}

.barshifter{
padding-top: 10vh;

float: left;
}
