body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MainContainer{
  /* height: 110vh; */
  /* padding-bottom: 5% */
}

.HeaderContainer{
  background: lightgrey;
  height: 10vh;
  text-align: center;
  padding-top: .5vh;
}

.FilterFormHolder{
  border: 1px solid #999;
  background: lightgreen;
  height: auto;
  width: 20%;
  min-width: 140px;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 5%;
  float: left;
}

.ReviewContainer{
  background-color: aqua;
  border: 1px dashed;
  margin-right: 5%;
  margin-left: 2.5%;
  margin-top: 5%;
  margin-bottom: 5%;
  float: right;
  width: 60%;
  min-width: 250px;

}

.ReviewCard {
  background: lightblue;
  border: 1px solid #999;
  align-items: center;
  width: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.SignHolder{
  border: 1px solid #999;
  background: lightgreen;
  height: auto;
  width: 20%;
  min-width: 140px;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 5%;
  float: left;
  float: bottom;
}

.SigningHolder{
  border: 1px solid #999;
  min-height: auto;
  height: 25vh;
}
